<h1>Register A New Team</h1>

<%= form_with url: "/competitions/#{@competition.id}/teams/update", method: :patch, local: true do |f| %>
  <% f.label :hometown, "Hometown:"  %>
  <% f.text_field :hometown %>

  <% f.label :nickname, "Hometown:"  %>
  <% f.text_field :nickname %>

  <% f.submit "Submit"  %>
<% end %>
